<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="bikerserviceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:7101/bike-project-server-bike-project-server-context-root/bikerservice"
                binding="basicHttpBinding" bindingConfiguration="bikerserviceBinding"
                contract="BikeSoapService.BikeController" name="bikerservice" />
        </client>
    </system.serviceModel>
</configuration>